check process mongod with pidfile /run/mongod.pid
   group database
   start program = "/etc/init.d/mongod start"
   stop  program = "/etc/init.d/mongod stop"
   if changed pid then {{ slack_ale }}
   if failed host localhost port 27017 then restart
   if failed host localhost port 27017 then {{ slack_exa }}
   if 5 restarts with 5 cycles then timeout
   if 5 restarts with 5 cycles then {{ slack_ale }}
   if does not exist then restart
   if does not exist then {{ slack_exa }}
   depend mongod_bin
   depend mongod_rc

 check file mongod_bin with path /usr/bin/mongod
   group database
   include /etc/monit/templates/rootbin

 check file mongod_rc with path /etc/init.d/mongod
   group database
   include /etc/monit/templates/rootbin